@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.parent {
  display: grid;
  grid-template-columns: 240px 1fr; /* Sidebar is 240px wide, main content area fills the rest */
  grid-template-rows: 100vh; /* Set the height of the grid container to the viewport height */
}

.sidebar {
  background-color: #F1F2F7;
}

.main-content {
  background-color: #FFFFFF;
  margin-top: 63px;
  border-top: 1px solid #c8cbd9;
  padding: 40px 90px 40px 40px;
  .page-title{
    h1{
      font-size: 18px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0.5px;
      margin: 0;
    }
  }
  .content-body{
    margin-top: 40px;
  }
}

.logo-wrapper{
  height: 64px;
  background: #F1F2F7;
  border-bottom: 1px solid #C8CBD9;
  .logo{
    font-family: Poppins;
    font-size: 11px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #5A67BA;
    color: #FFFFFF;
  }
  .logo-text{
    margin-left: 5px;
    h2{
      font-family: Poppins;
      font-size: 11px;
      font-weight: 700;
      line-height: 11px;
      letter-spacing: 0.5px;
      text-align: left;
      color: #5A67BA;
    }
  }
}
.custom-col-3{
  width: 250px;
  max-width: 100%;
}
.food-card{
  position: relative;
  .card-img-top{
    height: 121px;
    max-height: 100%;
    object-fit: none;
  }
  .card-title{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
  .btn-custom-secondary{
    background-color: #F5F7FA;
    color: #4CAF4F;
    font-size: 12px;
    line-height: 24px;
  }
  .btn-custom-danger{
    background-color: #FEE2E2;
    color: #EF4444;
    font-size: 12px;
    line-height: 24px;
  }
  .price{
    background-color: #A855F7;
    color: #FFFFFF;
    font-size: 9px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0 10px;
    position: absolute;
    right: 15px;
    top: 20px;
  }
}

.custom-form{
  .form-label{
    font-size: 14px;
    color: #000;
    line-height: 22px;
    letter-spacing: 0.5px;
  }
  .form-control{
    border-color: #f1f2f7;
    border-radius: 10px;
    height: 55px;
  }
}

.custom-primary-button{
  background: #5A67BA;
  border-color: #5A67BA;
  color: #FFFFFF;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  padding: 15px 50px;
  &:hover{
    background: #5A67BA;
    border-color: #5A67BA;
  }
}

.custom-navs{
  padding: 40px 20px;
  list-style: none;
  span{
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 1px;
    color: #082431;
    margin-bottom: 12px;
    padding: 0 20px;
  }
  i{
    color: A6ABC8;
  }
  a{
    padding: 15px 20px;
    color: #273240;
    border-radius: 5px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: block;
    &.active{
      background: rgba(112, 127, 221, 0.10);
      color: #5A67BA;
    }
  }
}

@media screen and (max-width: 767px) {
  // .sidebar{
  //   display: none;
  // }
  .parent{
    display: block;
  }
  .main-content{
    padding: 40px;
  }
}